/* -- fonts -- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');

/* -- root -- */

:root {
    --gray-white: #F0F1F2;
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --light-black: #212523;
    --light-black-op: #21252350;
    --main-green: #157343;
    --main-light: #37A000;
    --light-orange: #FD7E14;
    --green: #008000;
    --light-green: #e9f6ec;
    --red: #FF0000;
    --light-red: #fbeaec;
    --blue: #0000FF;
    --light-blue: #e6e6ff;
}

/* ---------- */

* {
    box-sizing: border-box;
}

/* -- body style -- */

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    background-color: var(--gray-white);
}

::selection {
    color: var(--white);
    background-color: var(--main-light);
}

/* -- category container style -- */

.subscription-container {
    width: 100%;
    margin-top: 25px;
}

/* -- list container style -- */

.list-container {
    background-color: var(--white);
    padding: 0px 20px;
}

/* -- heading-add-new-btn style -- */

.heading-add-new-btn {
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid var(--gray-black) ;
}

.heading h2 {
    color: var(--light-black);
    font-size: 25px;
    font-weight: 500;
}

/* -- list-short-dpdwn-search-box style -- */

.list-short-dpdwn-search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

/* -- list-short-dpdwn style -- */

.list-short-dpdwn {
    display: flex;
    gap: 7.5px;
    align-items: center;
}

.list-short-dpdwn h3 {
    color: var(--light-black);
    font-size: 15px;
    font-weight: 500;
}

.list-short-dpdwn select {
    color: var(--light-black);
    appearance: none;
    height: 25px;
    width: 30px;
    padding-left: 6px;
    outline: none;
    border-radius: 2.5px;
}

/* -- search-box style -- */

.search-box {
    display: flex;
    align-items: center;
}

.search-box legend {
    color: var(--light-black);
}

.search-box input {
    outline: none;
    height: 25px;
    width: 193px;
    border: 1px solid var(--gray-black);
}

@media (max-width: 768px) {
    .search-box input {
        width: 115px;
    }
}

/* -- table-list style --*/

table {
    border-collapse: collapse;
    width: 100%;
}

@media (max-width: 768px) {
    table {
        width: 100%;
        padding: 0rem;
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: thin;
        scrollbar-color: var(--black);
    }
}

/* -- thead style -- */

thead {
    cursor: pointer;
}

th, td {
    border: 1px solid var(--gray-black);
    padding: 10px 15px;
}

thead tr th {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

tbody tr td {
    font-size: 0.875rem;
}

tbody tr:hover {
    background-color: var(--gray-white);
}

/* -- tbody style -- */

/* -- action btn style -- */

.action-btn {
    display: flex;
    gap: 7.5px;
    flex-direction: row;
    align-items: center;
}

/* status style */

.active {
    color: var(--green);
    background-color: var(--light-green);
    font-size: 12px;
    font-weight: 500;
    padding: 2.5px 7.5px;
    border-radius: 5px;
}

.inactive {
    color: var(--red);
    background-color: var(--light-red);
    font-size: 12px;
    font-weight: 500;
    padding: 2.5px 7.5px;
    border-radius: 5px;
}

.payment-received {
    color: var(--green);
    background-color: var(--light-green);
    font-size: 12px;
    font-weight: 500;
    padding: 2.5px 7.5px;
    border-radius: 5px;
}

.payment-pending {
    color: var(--blue);
    background-color: var(--light-blue);
    font-size: 12px;
    font-weight: 500;
    padding: 2.5px 7.5px;
    border-radius: 5px;
}

.payment-due {
    color: var(--red);
    background-color: var(--light-red);
    font-size: 12px;
    font-weight: 500;
    padding: 2.5px 7.5px;
    border-radius: 5px;
}

/* -- action style -- */

.edit-icon {
    color: var(--green);
    background-color: var(--light-green);
    padding: 5px 5px;
    border: 1px solid var(--green);
    font-size: 20px;
}

.edit-icon:hover {
    background-color: var(--light-black-op);
}

.delete-icon {
    color: var(--red);
    background-color: var(--light-red);
    padding: 5px 5px;
    border: 1px solid var(--red);
    font-size: 20px;
}

.delete-icon:hover {
    background-color: var(--light-black-op);
}

/* -- no data style */

.no-data-available th {
    font-size: 14px;
    font-weight:500;
    color: var(--black);
    background-color: var(--gray-white);
}

/* -- entries-details-list-page-btn style -- */

.entries-details-list-page-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.entries-details {
    color: var(--black);
    font-size: 15px;
}

.list-page-btn {
    display: flex;
    gap: 5px;
    align-items: center;
}

.list-page-btn button {
    color: var(--light-black);
    background-color: var(--gray-white);
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.list-page-btn h4 {
    color: var(--white);
    background-color: var(--main-light);
    font-size: 15px;
    font-weight: 400;
    padding: 3px 12px;
    border-radius: 5px;
}